.env
# Default ignored files
DotNetAdditional/shelf/
DotNetAdditional/workspace.xml
# Rider ignored files
DotNetAdditional/.idea.DotNetAdditional.iml
DotNetAdditional/modules.xml
DotNetAdditional/contentModel.xml
DotNetAdditional/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
DotNetAdditional/httpRequests/
# Datasource local storage ignored files
DotNetAdditional/dataSources/
DotNetAdditional/dataSources.local.xml
DotNetAdditional/.env
DotNetAdditional/*.dll
/bin/
DotNetAdditional/.idea
DotNetAdditional/bin
DotNetAdditional/obj
.idea